<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

**Objectives:**
* List popular languages for Data Science
* List of commonly used libraries 
* List of Data Science Tools
* How to evaluate arithmetic expressions in Python

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python 
2. R
3. Java
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. Pandas
4. Pytorch

| Data Science Tools|
|:-----------------:|
|  MySQL            |
|  PostgreSQL       |
|  MongoDB          |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [13]:
#This will convert 200 minutes to hours by diving by 60
hours=200//60
minutes=200%60
print(str(hours)+"hours", str(minutes) + "minutes")

3hours 20minutes

## Author
Sonu Ray